# 忽略Node.js项目中的依赖模块
node_modules/

# 忽略macOS系统生成的.DS_Store文件
.DS_Store

# 忽略构建过程中生成的输出目录
dist/

# 忽略可能是服务端渲染（SSR）过程中生成的输出目录
dist-ssr/

# 忽略缓存文件夹
cache/

# 忽略可能包含缓存数据的文件夹
.cache/

# 忽略可能包含临时文件的文件夹
.temp/

# 忽略所有以`.local`结尾的文件夹
*.local/
